---
layout: base
---
{% assign ndh = site.ndhs.last %}

<section class="hero is-medium has-background-image" style="background-image:url({{ ndh.header_image }})">
  <div class = "hero-body">
    <div class="container">
      <img src="{{ ndh.overlay_image }}"  style="margin-left: 20%; top: 50%; bottom: 50%; width: 60%"/>
    </div>
  </div>
</section>

<section class="content container home">
  <div class="content intro">
    {{ page.intro.description | markdownify }}
  </div>
</section>

  <div class="hero date">
    Save the date: {{ ndh.datum }}
  </div>


{% include layout/registration-icons.html %}


<section class="content container home">
  {%comment%}
  <div class="blurbs">
    {% for blurb in page.intro.blurbs %}
    <div class="blurb">
      <a href="{{ blurb.url}}">
        <img src="{{blurb.image}}"/>
        <span class="icon-label">{{ blurb.text }}</span>
      </a>
    </div>
    {% endfor %}
  </div>
  {%endcomment%}

  {{ content }}

  {%- if page.quote %}
  <blockquote>
    {{ page.quote }}
  </blockquote>
  {%- endif %}
</section>

<div style="clear:both"></div>

<section>
  {% include slider.html %}
</section>

<section class="container home">
  <ul class="post-list">
    {% assign related_posts = site.posts | where: "ndh", ndh.slug %}
    {% for post in related_posts %}
      <li>
          <span class="post-meta">{{ post.date | localize: ":long" }}</span>
          <strong>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </strong>
      </li>
    {% endfor %}
  </ul>

  {%comment%}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%endcomment%}
</section>

<script>
  {% include scripts/carousel.js %}
</script>
