---
layout: base
---
{% assign ndh = site.ndhs.last %}
<section class="hero is-medium has-carousel">
    <div class="hero-carousel carousel-animated carousel-animate-fade" data-autoplay="true" data-delay="8000">
      <div class="carousel-container">
        {% capture folder %}images/{{ndh.images | default: "Header" }}{%endcapture%}
        {% for image in site.static_files %}
        {% if image.path contains folder  %}
        <div class="carousel-item has-background is-active">
        <img class="is-background" src="{{ site.baseurl }}{{ image.path }}" alt="" />
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="hero-body is-overlay container ndh-logo">
      {% include ndh-logo.svg %}
    </div>
</section>

<section class="section extra is-wide">
  <div class="container is-fluid">
    <div class="columns is-centered">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/AKPltT3DcwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
    <div class="container">
        <p>Lange haben wir die Entscheidung herausgezögert, aber jetzt ist es offiziell:
          Aufgrund von Corona können wir die NdH dieses Jahr nicht wie gewohnt in Schönstatt stattfinden lassen.
          Aber wir wollen trotzdem etwas für euch auf die Beine stellen. Was genau das wird, das ist noch in Planung,
          bleibt dran und folgt uns auf unseren Social Media Kanälen.
          Was wir sagen können: Es wird digital und großartig! <i>#NdHgoesdigital</i> <i>#dieWeltistnichtzugroß</i></p>
    </div>
  </div>
  <div class="container is-fluid">
    <div class="container">
      <p>Vom 18.8. bis 4.9. findet ihr auf <a href="https://www.youtube.com/channel/UC-Q3udhsdAdJEVo7kxU6WvQ">YouTube in unserem Kanal (Nacht des Heiligtums)</a> unterschiedliche Angebote, zum anschauen und mitmachen.</p>
      <p>Die genauen Daten findet ihr <a href="/ndh/2020">hier</a>. An den entsprechenden Tage wird das Programm immer um 18:00 Uhr veröffentlicht.</p>
      <p>Sei dabei und hol dir die NdH nach Hause.</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content intro">
      {{ page.intro.description | markdownify }}
    </div>
  </div>
</section>


<div class="hero date">
  Save the date: {{ ndh.datum }}
</div>

<!-- Deaktiviert bis die Registrierung live geschaltet ist -->
{% include layout/registration-icons.html %}

<section class="section is-wide">
  {% include page/testimonials-slider.html testimonials=site.data.testimonials.slider.slides %}
</section>

<section class="section">
  <div class="container">
    <ul class="post-list">
      {% assign related_posts = site.posts | where: "ndh", ndh.slug %}
      {% for post in related_posts %}
        <li>
            <span class="post-meta">{{ post.date | localize: ":date_long" }}</span>
            <strong>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </strong>
        </li>
      {% endfor %}
    </ul>

    {%comment%}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%endcomment%}
  </div>
</section>

{% comment %}
<section class="section">
  <div class="container">
    <figure class="image is-16by9">
      <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/ecW81GduZb8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </figure>
  </div>
</section>
{% endcomment %}

<section class="section">
  <div class="container">
    <img src="/assets/uploads/ndh2020_vorderseite.jpg"/>
    <img src="/assets/uploads/ndh2020_rückseite.jpg"/>
  </div>
</section>

<script>
  {% include scripts/carousel.js %}
</script>

{% comment %}
<section>
  {% include instafeed/instafeed.html %}
</section>
{% endcomment %}
