---
layout: base
---
<div class="event">
  <img src="{{ page.header_image }}" />

  <div class="intro">
    {{ content | markdownify }}
  </div>

  <div class="blurbs">
    {% for blurb in page.intro.blurbs %}
    <div class="blurb">
      <a href="{{ blurb.url}}">
        <img src="{{ blurb.image }}" />
        {{ blurb.text }}
      </a>
    </div>
    {% endfor %}
  </div>

  <blockquote>
    {{ page.quote }}
  </blockquote>

  <ul class="post-list">
    {% for post in site.posts | where: "event", page.slug %}
      <li>
        <span class="post-meta">{{ post.date | date: ":long" }}</span>

        <strong>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </strong>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
