---
layout: base
---
<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
  {% include layout/page-header.html %}

  <main class="page-main content" itemprop="text">
  {{ content }}

  {% if page.images %}
  {% capture folder %}images/{{page.images}}{%endcapture%}
    <div class="columns">
      {% for image in site.static_files %}
      {% if image.path contains folder  %}
      <div class="column"><img src="{{ site.baseurl }}{{ image.path }}" alt="image" /></div>
      {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  </main>

  <footer class="page-footer">
    {% assign page_date = page.date | default: page.last_modified_at %}
    {% if page_date %}
      <time datetime="{{ page_date | date_to_xmlschema }}" itemprop="datePublished">{{ page_date | localize: ':date_long' }}</time>
    {% endif %}
  </footer>

  {% include metadata/page.html %}
</article>
