$banner-background-color: $lightblue !default

.banner
  background-color: $banner-background-color
  height: 100%
  align-items: center
  padding: 3rem 1.5rem 5rem

  p
    margin-left: 5em

  .subtitle
    color: $blue
    font-style: italic
    text-align: right
    padding-right: 5%
