{% for item in paginator.posts %}
  <article itemscope itemtype="http://schema.org/Article">
    {% if item.link %}<a href="{{ item.link | relative_url }}" itemprop="url mainEntityOfPage">
    {% elsif item.content %}<a href="{{ item.relative_path | relative_url }}" itemprop="url mainEntityOfPage">
    {% endif %}
    {% if item.image.cover %}
      {% assign img_url = item.image.cover | relative_url %}
      <meta itemprop="image" content="{{ img_url }}" />
      <div style="background-image: url({{ img_url }});" class="article__header article__header--teaser article__header--image">
    {% else %}
      <div class="article__header article__header--teaser">
    {% endif %}
        <h3 class="article__title article__title--teaser" itemprop="headline name">
            {{ item.title }}
        </h3>
      </div>
    {% if item.link or item.content %}</a>{% endif %}
    <div class="article__lead" itemprop="description">
      {{ item.excerpt | markdownify }}
    </div>
    <div class="article__meta">
      <time datetime="{{ item.date | date_to_xmlschema }}" class="article__date" itemprop="datePublished">{{ item.date | localize: '%e. %B %Y' }}</time>
      {% if item.author %}<span class="article__author" itemprop="author">{{ item.author }}</span>{% endif %}

      {% include metadata/publisher.html %}
    </div>
  </article>
{% endfor %}

{% include pagination.html %}
