{% assign collections = site.collections | where_exp:'collection','collection.output != false' %}

{% assign pages = site.html_pages | where_exp:'doc','doc.sitemap != false' | where_exp: 'doc','doc.sitemap.exclude != true' %}
<h3>Seiten</h3>
<ul>
{% for page in pages %}
  <li>
    <a href="{{ page.url | strip_index | relative_url }}">
      {{ page.title }}
    {% if page.last_modified_at %}
      ({{ page.last_modified_at | localize: ':date_long' }})
    {% endif %}
    </a>
  </li>
{% endfor %}
</ul>

{% for collection in collections %}
  <h3>{{ collection.label }}</h3>
  <ul>
  {% assign docs = collection.docs | where_exp:'doc','doc.sitemap != false' %}
  {% for doc in docs %}
    <li>
      <a href="{{ doc.url | strip_index | relative_url }}">
        {{ doc.title }}
      {% if doc.last_modified_at or doc.date %}
        ({{ doc.last_modified_at | default: doc.date | localize: ':date_long' }})
      {% endif %}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endfor %}

<ul>
{% for file in page.static_files %}
  <li>
    <a href="{{ file.path | relative_url }}">
      {{ file.title }}
     ({{ file.modified_time | localize: ':date_long' }})
      }
    </a>
  </li>
{% endfor %}
</ul>
