{% assign testimonials = include.testimonials | default: page.testimonials %}
<div class="carousel is-testimonial slide carousel-animated carousel-animate-slide" data-autoplay="true" data-delay="8000">
  <div class="carousel-container">
    {% for item in testimonials %}
      <div class="carousel-item has-image {% if forloop.first %} is-active{% endif %}">
        <img class="carousel-image" src="{{ item.image }}" alt="">
        <div class="carousel-text">
          <blockquote>
            <p>{{ item.quote }}</p>
            <small class="author">{{ item.name }}</small>
          </blockquote>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="carousel-navigation is-centered">
    <div class="carousel-nav-left">
      <
    </div>
    <div class="carousel-nav-right">
      >
    </div>
  </div>
</div>
